.custom-card {
    width: 190px;
    margin: 0 auto;
}

.imagen {
    margin: 0 auto;
    width: 90%;
    border-radius: 5px;
}

.star-rating-container {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
}


/* Estilo opcional para ajustar el espacio entre los elementos */

.star-rating-container app-star-rating {
    margin-right: 5px;
    /* Espacio entre el componente de calificación y el valor */
}