<app-filtro-productos></app-filtro-productos>
<ion-content>
    <div class="container">
        <ion-grid [fixed]="true">
            <ion-row class="ion-no-padding">
                <ion-col size="6" *ngFor="let producto of productos" class="ion-no-padding">
                    <ion-card class="custom-card">
                        <ion-card-header>
                            <ion-card-title>{{ producto.nombre }}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content class="ion-no-padding" style="display: flex; flex-direction: column; align-items: center;">
                            <img class="imagen centered-image" [src]="producto.imagen" alt="Descripción de la imagen">
                            <ion-item class="ion-no-padding">
                                <p class="ion-padding-start">Precio: {{ producto.precio | currency:'CLP' }}</p>
                            </ion-item>
                        </ion-card-content>
                        <ion-button expand="full">Añadir al carrito</ion-button>

                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>