<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Agregar Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="categoriaForm" (ngSubmit)="onFormSubmit()">
      <ion-item>
          <ion-label position="floating">Nombre </ion-label>
          <ion-input type="text" placeholder="Nombre de la categoria" formControlName="nombre" [(ngModel)]="categoria.nombre_categoria"></ion-input>
      </ion-item>
      <!-- Otros campos de la bodega -->
      <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!categoriaForm.valid">
          Enviar
      </ion-button>
  </form>
</ion-content>
