<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="agregarAdministrador()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" name="apellido" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Agregar Administrador</ion-button>
  </form>
</ion-content>
