<ion-header>
  <ion-toolbar>
    <ion-title> TecnoPiezas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Cuadrado grande como título -->
  <div class="title-container">
    <h1 class="title">TecnoPiezas</h1>
  </div>

  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <div class="rectangle" [routerLink]="['/bodegas-home']">
          <div class="rectangle-text">Productos</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Producto.png" alt="Productos" />
          </div>
        </div>
      </ion-col>
      
      <ion-col size="6">
        <div class="rectangle">
          <div class="rectangle-text">Bodegas</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Bodega.png" alt="Bodegas" />
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <div class="rectangle">
          <div class="rectangle-text">Locales</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Local.png" alt="Locales" />
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="rectangle">
          <div class="rectangle-text">Categoria</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Categoria.png" alt="Categoria" />
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <div class="rectangle">
          <div class="rectangle-text">Sub Categoria</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Categoria.png" alt="SubCategoria" />
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="rectangle">
          <div class="rectangle-text">Perfiles</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Perfil.png" alt="Perfil" />
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <div class="rectangle">
          <div class="rectangle-text">Administracion</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Administrador.png" alt="Administradores" />
          </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="rectangle">
          <div class="rectangle-text">Perfiles</div>
          <div class="rectangle-image">
            <img src="assets/but-icon/Perfil.png" alt="Perfil" />
          </div>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
