<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>Modificar</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
          <ion-back-button text="Volver" defaultHref="/sub-categorias-home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="subForm" (ngSubmit)="onFormSubmit(subForm.value)">
      <ion-item>
          <ion-label position="floating">nombre_subcategoria</ion-label>
          <ion-input type="text" placeholder="nombre de la sub-categoria" formControlName="sub_nombre" [(ngModel)]="subcategoria.nombre_subcategoria"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">categoria</ion-label>
          <ion-input type="number" placeholder="id de la categoria relacionada" formControlName="sub_cate" [(ngModel)]="subcategoria.categoria"></ion-input>
      </ion-item>
      <!-- Otros campos si los hay -->
      <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!subForm.valid">Guardar</ion-button>
  </form>
</ion-content>
