<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>Modificar</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
          <ion-back-button text="Volver" defaultHref="/categorias-home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="categoriaForm" (ngSubmit)="onFormSubmit(categoriaForm.value)">
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" placeholder="Nombre de la categoria" formControlName="nombre" [(ngModel)]="categoria.nombre_categoria"></ion-input>
      </ion-item>
      <!-- Otros campos si los hay -->
      <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!categoriaForm.valid">Guardar</ion-button>
  </form>
</ion-content>
