<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-container">
        <img src="../../assets/prod-img/Letras_tecnopiezas.png" class="logo1" alt="Logo 1" width="190px">
        <img src="../../assets/prod-img/Logo_TecnoPiezas-Calidad4_00x.png" class="logo2" alt="Logo 2" width="90px">
    </div>

    <form #loginForm="ngForm" *ngIf="isLoginForm">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Correo electrónico</ion-label>
                <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="login()" color="primary">Iniciar Sesión</ion-button>
    </form>
    <form #signupForm="ngForm" *ngIf="isSignupForm">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input type="text" name="name" [(ngModel)]="name" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Correo electrónico</ion-label>
                <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="register()" color="primary">Registrarse</ion-button>
    </form>
</ion-content>

<div class="button-container">
    <ion-button (click)="toggleForm('login')" class="half-width" expand="block" color="primary" [class.active]="isLoginForm">Log In</ion-button>
    <ion-button (click)="toggleForm('signup')" class="half-width" expand="block" color="primary" [class.active]="isSignupForm">Sign Up</ion-button>
</div>