ion-content {
    background-color: #f5f5f5;
    /* Color de fondo */
}

.button-container {
    margin: 5px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width {
    width: 50%;
}


/* Estilo base para los botones */

ion-button {
    margin-top: 10px;
    /* Espacio superior entre botones y formularios */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Estilo al pasar el ratón sobre los botones */

ion-button:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño al pasar el ratón sobre el botón */
    background-color: #0056b3;
    /* Cambio de color al pasar el ratón sobre el botón */
}


/* Estilo para el botón "Log In" cuando está activo */

ion-button.log-in-active {
    background-color: #0056b3;
    transform: scale(1.05);
}


/* Estilo para el botón "Sign Up" cuando está activo */

ion-button.sign-up-active {
    background-color: #33cc33;
    transform: scale(1.05);
}