<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-content>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 15px;">
            <img width="250px" src="../../assets/prod-img/Letras_tecnopiezas.png" alt="">
            <img width="150px" src="../../assets/prod-img/Logo_TecnoPiezas-Calidad4_00x.png" alt="">
        </div>

        <form #loginForm="ngForm" *ngIf="isLoginForm">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                        <div padding>
                            <ion-item>
                                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                            </ion-item>
                        </div>
                        <div padding>
                            <ion-button size="large" type="submit" [disabled]="loginForm.invalid" expand="block">Log In</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <form #signupForm="ngForm" *ngIf="isSignupForm">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                        <div padding>
                            <ion-item>
                                <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
                            </ion-item>
                        </div>
                        <div padding>
                            <ion-button size="large" type="submit" [disabled]="signupForm.invalid" expand="block">Sign Up</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ion-content>
</ion-content>
<div class="button-container">
    <ion-button (click)="toggleForm('login')" class="half-width" expand="block" [class.log-in-active]="isLoginForm">Log In</ion-button>
    <ion-button (click)="toggleForm('signup')" class="half-width" expand="block" [class.sign-up-active]="isSignupForm">Sign Up</ion-button>
</div>