<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Listar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h2 style="margin-left: 12px;">Listado de Productos</h2>
    <div class="productos">
        <div class="producto" *ngFor="let producto of productos">
            <div class="card">
                <div class="card-header">
                    <h2>{{ producto.nombre }}</h2>
                </div>
                <div class="card-content">
                    <div class="imagen">
                        <img [src]="producto.imagen" alt="{{ producto.nombre }}">
                    </div>
                    <p>Precio: {{ producto.precio | currency:'CLP' }}</p>
                    <p>Descripción: {{ producto.descripcion }}</p>
                    <ion-button (click)="navigateToEditar(producto.producto_id)" expand="full">Editar</ion-button>
                    <ion-button (click)="eliminarProducto(producto.producto_id)" color="danger">Eliminar</ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-fab slot="fixed" style="position: absolute; bottom: 15px; right: 20px;">
    <ion-fab-button color="success" routerLink="productos/crear">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>