<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="producto">
    <img [src]="producto.imagen" alt="Imagen del producto" *ngIf="producto.imagen">
    <ion-card-content>
      <h2>{{ producto.nombre }}</h2>
      <p>Precio: {{ producto.precio | currency:'CLP' }}</p>
      <p>Descripción: {{ producto.descripcion }}</p>
      <p>Stock: {{ producto.stock }}</p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="errorMensaje">
    <p>{{ errorMensaje }}</p>
  </div>  
</ion-content>

  
