<div class="product">
    <h1>Tarjeta Gráfica NVIDIA GeForce RTX 4090 Aero OC 24G</h1>
    <img src="https://cdn1.spider.cl/26196-large_default/tarjeta-de-video-gigabyte-geforce-rtx-4090-aero-oc-24g.jpg" alt="Imagen del producto">
    <div class="precio">
      <p>$600.000</p> <!-- Ajusta el formato de moneda según tus necesidades -->
    </div>
    <!-- Descripción del Producto -->
    <div [hidden]="isDescriptionVisible" class="description">
      <h2>Descripción del Producto</h2>
      <p>
        La Tarjeta Gráfica NVIDIA GeForce RTX 4090 Aero OC 24G es un componente esencial para los amantes de los juegos y los profesionales de diseño. Esta tarjeta gráfica de alto rendimiento ofrece un rendimiento excepcional y una calidad de imagen impresionante. Prepárate para experiencias de juego inigualables y renderización de gráficos de alta fidelidad.
      </p>
    </div>
    <button class="descripcion-button" (click)="toggleDescription()">Descripción</button>
  
    <!-- Ficha Técnica -->
    <div [hidden]="isSpecsVisible" class="specifications">
      <h2>Ficha Técnica</h2>
      <ul>
        <li><strong>Modelo:</strong> NVIDIA GeForce RTX 4090 Aero OC 24G</li>
        <li><strong>Arquitectura:</strong> Ampere</li>
        <li><strong>Reloj de memoria:</strong> 21 Gbps</li>
        <li><strong>Tamaño de memoria:</strong> 24 GB</li>
        <li><strong>Tipo de memoria:</strong> GDDR6X</li>
        <li><strong>Bus de memoria:</strong> 384 bits</li>
        <li><strong>Bus de tarjeta:</strong> PCI-E 4.0</li>
        <li><strong>Resolución máxima digital:</strong> 7680x4320</li>
        <!-- Agrega el resto de las especificaciones aquí -->
      </ul>
    </div>
    <button class="ficha-tecnica-button" (click)="toggleSpecs()">Ficha Técnica</button>
  
    <!-- Garantía -->
    <div [hidden]="isWarrantyVisible" class="warranty">
      <h2>Garantía</h2>
      <p>
        La Tarjeta Gráfica NVIDIA GeForce RTX 4090 Aero OC 24G por una garantía del fabricante de 2 años, lo que te proporciona tranquilidad y confianza en la calidad del producto. Para obtener más detalles sobre la garantía o realizar una reclamación, consulta nuestra sección de garantía en la aplicación.
      </p>
    </div>
    <button class="garantia-button" (click)="toggleWarranty()">Garantía</button>
  
    <!-- Contacto -->
    <div [hidden]="isContactVisible" class="contact">
      <h2>Contacto</h2>
      <p>
        Si tienes preguntas, necesitas asistencia o deseas obtener más información sobre la Tarjeta Gráfica NVIDIA GeForce RTX 4090 Aero OC 24G, no dudes en contactarnos. Estamos aquí para ayudarte.
      </p>
      <ul>
        <li><strong>Teléfono:</strong> +(56)287654321</li>
        <li><strong>Correo Electrónico:</strong> soporte@tecnoplaza.com</li>
        <!-- Agrega otros métodos de contacto si es necesario -->
      </ul>
    </div>
    <button class="contacto-button" (click)="toggleContact()">Contacto</button>
  
    <!-- Añadir al Carrito o Comprar -->
    <div class="purchase-options">
      <button class="add-to-cart-button" >Añadir al Carrito</button>
      <button class="buy-now-button">Comprar Ahora</button>
    </div>
  </div>
  
