<ion-content [fullscreen]="true">
    <app-explore-container class="tabs" name="Tab 3 page"></app-explore-container>
</ion-content>
<ion-grid class="custom-div">
    <ion-row>
        <ion-col size="12" class="cupon-container">
            <ion-item class="centered-item">
                <ion-label position="stacked">Cupón:</ion-label>
                <ion-input placeholder="Ingrese cupón" class="custom-input"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="buttons-container">
            <ion-button class="custom-button">Vaciar carrito</ion-button>
            <ion-button class="custom-button">Comprar</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>